html {
    box-sizing: border-box;
    font-size: 15px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
body{
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
}  



.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
      
    justify-content: center;
    align-items: center;


}

.key {
    border: .4rem solid black;
    border-radius: .8rem;
    margin: 10px;
    font-size: 15px;
    padding: 1rem .5rem;
    transition: all .09s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.3);
    text-shadow: 0 0 .5rem black;
  }

  kbd {
    display: block;
    font-size: 50px;
  }

  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }